<div class="ai1ec-actions">
	<a href="#" class="ai1ec-action ai1ec-action-star">
		<i class="ai1ec-fa ai1ec-fa-star-o"></i>
		<span class="ai1ec-save">Save</span>
		<span class="ai1ec-saved">Saved</span>
	</a>
	<a href="#" class="ai1ec-action ai1ec-action-share"
	   data-url=""
	   data-toggle="modal" data-target="#timely-share-modal">
	   <i class="ai1ec-fa ai1ec-fa-share"></i>
	   <span>Share</span>
	</a>
</div>