<div class="ai1ec-sas-actions">
	<a href="#" class="ai1ec-sas-action ai1ec-sas-action-star">
		<i class="ai1ec-fa ai1ec-fa-star-o"></i>
		<span class="ai1ec-sas-save">{{ text_save }}</span>
		<span class="ai1ec-sas-saved">{{ text_saved }}</span>
	</a>
	<a href="#" class="ai1ec-sas-action ai1ec-sas-action-share"
	   data-toggle="ai1ec-modal"
	   data-target="#ai1ec-share-modal">
		<i class="ai1ec-fa ai1ec-fa-share"></i>
		<span>{{ text_share }}</span>
	</a>
</div>