<div class="ai1ec-sas-clear-saved-buttons ai1ec-sas-clearfix ai1ec-hidden">
	<a href="#" class="ai1ec-btn ai1ec-btn-sm ai1ec-sas-clear-expired">
		<i class="ai1ec-fa ai1ec-fa-times"></i>
		{{ text_clear_expired }}
	</a>
	<a href="#" class="ai1ec-btn ai1ec-btn-sm ai1ec-sas-clear-saved">
		<i class="ai1ec-fa ai1ec-fa-times"></i>
		{{ text_clear_all }}
	</a>
</div>