<div class="ai1ec-clear-saved-buttons ai1ec-clearfix ai1ec-hidden">
	<a href="#" class="ai1ec-btn ai1ec-btn-lg ai1ec-clear-expired">
		<i class="ai1ec-fa ai1ec-fa-times"></i>
		Clear Expired Events
	</a>
	<a href="#" class="ai1ec-btn ai1ec-btn-lg ai1ec-clear-saved">
		<i class="ai1ec-fa ai1ec-fa-times"></i>
		Clear all Saved Events
	</a>
</div>