<div class="ai1ec-save-and-share-buttons">
	<div class="ai1ec-hidden ai1ec-show-saved">
		<a href="#" class="ai1ec-load-view ai1ec-btn ai1ec-btn-primary"
		   data-type="jsonp">
			<i class="ai1ec-fa ai1ec-fa-star"></i>
			<span>Your Saved Events</span>
			<span class="ai1ec-saved-events-count"></span>
			<span class="ai1ec-close-saved-events">
				<i class="ai1ec-fa ai1ec-fa-times-circle"></i>
			</span>
		</a>
	</div>
	<div class="ai1ec-saved-events">
		<a href="#" class="ai1ec-btn ai1ec-btn-primary"
		   data-toggle="ai1ec-modal"
		   data-target="#ai1ec-share-modal">
			<i class="ai1ec-fa ai1ec-fa-share"></i>
			<span>Share these Events</span>
		</a>
	</div>
	<div class="ai1ec-saved-events-exit
		{% if request.saved_events is empty %}ai1ec-hidden{% endif %}">
		<a href="/" class="ai1ec-btn ai1ec-btn-primary">
			<i class="ai1ec-fa ai1ec-fa-times-circle"></i>
			<span>Exit &laquo;{{ request.saved_events }}&raquo;</span>
		</a>
	</div>
</div>